


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
$animationSpeed: .65s;

@mixin fadeIn(){
    animation: fadein $animationSpeed;
    -moz-animation: fadein $animationSpeed; /* Firefox */
    -webkit-animation: fadein $animationSpeed; /* Safari and Chrome */
    -o-animation: fadein $animationSpeed; /* Opera */
}

#PhotoGallery{
    .grid-item{
        width: 200px;
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:hover{
                background: rgba(133, 133, 140, 0.57);
                @include fadeIn;
                .overlayBtn{
                    visibility: visible;
                    background: rgba(133, 133, 140, 0.86);
                    color: black;
                }
            }
            .overlayBtn{
                visibility: hidden;
                width: 100%;
                border-radius: 0;
                margin-bottom: 5px;
                background: none;
                color: transparent;
            }
        }
    }
}
