#todoContainer{
    form{
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
        .form-group{
            width: 100%;
            label{
                margin-right: 5%;
            }
            input{
                width: 60%;
            }
        }
    }
    .item{
        .col-sm-2{
            p{
                text-align: center;
            }
            .checkbox,&:last-child{
                display: flex;
                justify-content: center;
            }
            &:last-child{
                padding: 15px;
            }
        }
    }
}

.spinnerContainer{
        height: 300px;
        .sk-folding-cube{
            width: 70px;
            height: 70px;
        }
}