.list-group-item{
    .panel-body{
        .imageContainer{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .descriptionCont{
            h4{
                text-align: center;
            }
        }
    }
}