//colors
$color_mine_shaft_approx: #333;

.spinnerContainer{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .sk-folding-cube{
            width: 50px;
            height: 50px;
        }
}

.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: rotateZ(45deg);
	.sk-cube {
		float: left;
		width: 50%;
		height: 50%;
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.1);
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color_mine_shaft_approx;
			animation: sk-foldCubeAngle 2.4s infinite linear both;
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: 100% 100%;
		}
	}
	.sk-cube2 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.1) rotateZ(90deg);
		&:before {
			animation-delay: 0.3s;
		}
	}
	.sk-cube3 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.1) rotateZ(180deg);
		&:before {
			animation-delay: 0.6s;
		}
	}
	.sk-cube4 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.1) rotateZ(270deg);
		&:before {
			animation-delay: 0.9s;
		}
	}
}
@-webkit-keyframes sk-foldCubeAngle {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	10% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	75% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}
@keyframes sk-foldCubeAngle {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	10% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	75% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}