$bg: #E8B5DB;
$color-arrow: #8D96ED;

#sideButton {
    margin: 25px auto;
    position: absolute;
    z-index: 10;
    top: -40px;
}

aside {
    margin: 20px 0;
    line-height: 34px;
    font-size: 20px;
    text-align: right;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    user-select: none;

    &:hover {
        top: -1px;
    }

    &:active {
        top: 1px;
    }

    &.arrow {
        background-color: $color-arrow;

        &:after {
            border-width: 17px 0 17px 17px;
        }

        &:after {
            border-color: transparent $color-arrow;
            right: -17px;
        }
    }
}

aside:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
}
