#ProfileHead {
    .profileBackground {
        height: 250px;
        justify-content: center;
        display: flex;
        position: relative;

        .profilePic {
            width: 100px;
            position: absolute;
            bottom: -50px;
        }
    }
    .tabContainer{
        margin-top: 75px;
    }
}
